.list {
  display: flex;
  justify-content: space-between;
  padding-inline: 3%;
  padding-block: ;
  flex-wrap: wrap;
  list-style: none;
}
.list_item {
  justify-content: center;
  margin-bottom: 3%;
  padding-bottom: 1%;
  list-style: none;
  border: rgb(133, 133, 215) 2px solid;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgb(132, 132, 200);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  color: black;
  position: relative;
  bottom: 0;
}
