nav {
  padding-block: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(133, 133, 215);
  box-shadow: 0px 5px 4px rgba(166, 175, 195, 0.25);
}
.menu_item {
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding-inline: 7px;
  position: relative;
  bottom: 0;
  -webkit-transition: bottom 0.3s cubic-bezier(1, 1, 1, 1);
  -moz-transition: bottom 0.3s cubic-bezier(1, 1, 1, 1);
  -o-transition: bottom 0.3s cubic-bezier(1, 1, 1, 1);
  transition: all 0.3s cubic-bezier(1, 1, 1, 1);
}
.menu_item:hover {
  color: blueviolet;
  bottom: 2px;
}
